
<div id="preDefinedBaskets" class="pull-right">
    <label id="labelPredefBaskets">Pre Defined Baskets</label>
    <ul id="basketUL">
        <li ng-repeat="basket in allBaskets.data track by $index">
            <a ui-sref="preDefinedBasket" ui-sref-active="active" ng-click="showPreDefinedBasket(basket)">
                {{basket.basketName}} </a>
        </li>

    </ul>

</div>
<div id="orderHistory" class="pull-right">
    <label >Order History</label>

</div>
<div id="content" class="pull-right" >
    <img src="../images/basket.png" />
    <a ui-sref="mainBasket" ui-sref-active="active">View basket</a>
    <div>Total items: {{totalItems}} </div>
    <div>Basket Total: {{totalAmount}}</div>
</div>

<!--<div >
    <div> Employee  Name : {{global.session[body.userName]}}</div>
    <div> Personal Link : {{session.body.personalLink}}</div>
    <div> Email :{{session.body.userEmail}}</div>
</div>-->



<form id="searchFormPP">
    <input name="q" type="text" ng-model="querypp" maxlength="128"  >
    <input type="submit" ng-click="searchInPiotrPawel()" value="Search in Piotr&Paweł"
           onclick="this.disabled=true;this.value='Sending, please wait...';" >
</form>
<div>Search list from Piotr&Pawel
    <ul id="searchPPul" >
        <li
            ng-repeat="item in ppSearchList  ">
            <button ng-click="item.isExpanded=!item.isExpanded" >+</button>
            <button ng-click="item.isExpanded && addItemToLocalBasket(item)"
            >Add to Basket</button>
            <a  ng-click="getProductPageFromPP(item)"  >{{item.itemLink}}</a>
            <!--<div class="content" ng-show="item.isExpanded"> {{item.content}}</div>-->
            <div  ng-show="item.isExpanded" ng-bind-html="item.content | to_trusted"></div>
        </li>

    </ul>
</div>
<label ng-show="errorOnSearch">{{errorOnSearch}}</label>
<form id="searchForm">
    <input name="q" type="text" ng-model="query" maxlength="128"  >
    <input type="submit" ng-click="searchInXKom()" value="Search in X-Kom"
           onclick="this.disabled=true;this.value='Sending, please wait...';" >
</form>
<div>Search list from X-kom
    <ul id="searchUL" >
        <li ng-class="{'highlight-link': item.content}"
            ng-repeat="item in vSearchtList track by $index ">
            <button ng-click="item.isExpanded=!item.isExpanded" >+</button>
            <button ng-click="item.isExpanded && addItemToLocalBasket(item)"
                    >Add to Basket</button>
            <a  ng-click="sendLinktoServer(item)"  >{{item.itemLink}}</a>
            <!--<div class="content" ng-show="item.isExpanded"> {{item.content}}</div>-->
            <div  ng-show="item.isExpanded" ng-bind-html="item.content | to_trusted"></div>
        </li>

    </ul>
</div>



<ui-view > </ui-view>
