<div id="preDefinedBasketItems" class="row " >

    <label> Basket Name :</label><i>  {{pdbasket.basketName}}</i>
    <br>
    <label> Date Created: </label><i>{{pdbasket.dateCreated}}</i>
    <!--<div> Basket Items </div>-->
    <table class="col-sm-0 col-sm-offset-0 table table-striped">
        <thead>
        <tr>
            <th> Item Name </th>
            <th> Item Quantity </th>
            <th> Item Number</th>
            <th> User name</th>
            <th> Date Created</th>
            <th> Item Price</th>
        </tr>
        </thead>
        <tbody>

        <tr ng-repeat="item in pdbasket.items track by $index">
            <td>{{item.itemName}}</td>
            <td>1</td>
            <td>{{item.itemNumber}}</td>
            <td>some username</td>
            <td>{{item.dateCreated.toString().trim()}}</td>
            <td>{{item.itemPrice.toString().trim()}}</td>
        </tr>
        <tr>
            <th>  Total Amount: {{itemSum }}zł</th>
            <th>  Total Items :{{pdbasket.items.length}}</th>
        </tr>
        </tbody>

    </table>

    <div id="areapdBasket">
        <Label > To copy items of this basket to main basket, click this link</Label>

        <a  ng-href="/#/basket?pdBasketName={{pdbasket.basketName}}" ui-sref-active="active"  ng-click="passToMainBasket(pdbasket)" >Copy To Main Basket</a>
    </div>
</div>
