
html {
  overflow-y: scroll;
}

body {
  padding-top: 50px;
}

.highlight-link a{
  color:white;
  background-color: green;

}
.highlight-link a:hover{
  color:white;
  background-color: black;

}

#content {
  position: relative;
  top:40px;
  right:370px;
  margin-top:-70px;
  cursor: pointer;
  cursor: hand;

}

#basketDetails{
position: absolute;
  top:150px;
  right:10px;
  left:700px;
  margin-top:190px;

}
.jumbotron.text-center {
  background-color: aquamarine;
  color: firebrick;
}